body{
    background-image: url('./img/animalfarm2.jpeg');
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Montserrat';
    font-size: 18px; 
 }
 .login-form{
     background-color: rgba(8, 9, 10, 0.699);
     position: relative;
     top: 70px;
     width: 55%;
     padding: 35px 20px;
     margin: auto;
     border-radius: 35px;
 }
 #login-form{
     text-align: center;
 }
 .login-form input{
     height: 5vh;
     border-radius: 15px;
     border: none;
     border-bottom: solid rgba(8, 9, 10, 0.699);
     background-color: rgba(255, 255, 255, 0.699);
 }
 .login-form input::placeholder{
     text-align: center;
     color: rgb(0, 0, 0);
     opacity: .7;
     font-family: 'Montserrat';
     font-size: 16px;
 }
 .login-form h1{
     color: #fff;
 }
 .login-form p{
     color: white;
 }
 .login-form a{
     color: rgb(63, 187, 6);
 }

 .login-btn a{
     background-color: rgb(63, 187, 6);
     color: white;
     border-radius: 30px;
     padding: 10px 35px;
     text-decoration: none;
 }
 .login-btn a:hover{
     color: rgb(63, 187, 6);
     background-color: #fff;
 }
 .login-btn button{
    background-color: rgb(63, 187, 6);
    color: white;
    border: hidden;
    border-radius: 30px;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 16px;
 }
 .login-btn button:hover{
    color: rgb(63, 187, 6);
    background-color: #fff;
    font-size: 18px;
 }